<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}SkillTracker{% endblock %}</title>
</head>
<body>

  <p>
    <a href="{{ url_for('tasks.week_view') }}">7 days</a> |
    <a href="{{ url_for('goals.list_goals') }}">Goals</a>
  </p>
  <hr>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li><b>[{{ category }}]</b> {{ message }}</li>
        {% endfor %}
      </ul>
      <hr>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
