<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Goals</title>
</head>
<body>
  <h2>Your goals</h2>

  <p>
    <a href="/goals/create">+ Create goal</a> |
    <a href="/logout">Logout</a>
  </p>

  {% if goals %}
    <ul>
      {% for g in goals %}
        <li>
          <a href="{{ url_for('goals.goal_detail', goal_id=g.id) }}"><b>{{ g.title }}</b></a>


          {% if g.description %}- {{ g.description }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No goals yet 😅</p>
  {% endif %}
</body>
</html>
